extends ../layout

block content
	h3 Kurze Url konnte nicht erstellt werden :(
	| Die URL #{shortUrl} konnte nicht erstellt werden, weil sie schon existiert oder die ID nicht erlaubt ist.
	br
	a(href='/create') Zurück
	