extends ../layout

block content
	h3 Benutzer konnte nicht erstellt werden :(
	| Der Benutzer #{username} konnte nicht erstellt werden, weil dieser Nutzer schon existiert.
	br
	a(href='/admin/users') Zurück
	